Options +FollowSymLinks
RewriteEngine On
Options -Indexes

RewriteRule ^/?$ ./handler/home.php
RewriteRule ^home/?$ ./handler/home.php

# Titles stuff
RewriteRule ^title/([0-9]*)/?([a-z0-9-_]*)/?$ ./handler/title.php?id=$1
RewriteRule ^browse/?$ ./handler/browse.php
RewriteRule ^chapter/([0-9]*)/?$ ./handler/chapter.php?id=$1
RewriteRule ^chapter/([0-9]*)/([0-9]*)/?$ ./handler/chapter.php?id=$1&page=$2

# Publisher stuff
RewriteRule ^publisher/?$ ./handler/publisher.home.php
RewriteRule ^publisher/home/?$ ./handler/publisher.home.php?tab=home
RewriteRule ^publisher/title/([0-9]*)/upload/?([0-9,]*)/?$ ./handler/publisher.title.upload.php?id=$1&groups=$2
RewriteRule ^publisher/title/([0-9]*)/chapters/?$ ./handler/publisher.title.chapters.php?id=$1
RewriteRule ^publisher/title/([0-9]*)/edit/?$ ./handler/publisher.title.edit.php?id=$1
RewriteRule ^publisher/title/([0-9]*)/permission/?$ ./handler/publisher.title.permission.php?id=$1
RewriteRule ^publisher/title/([0-9]*)/?([a-z0-9-_]*)/?$ ./handler/publisher.title.php?id=$1
RewriteRule ^publisher/new/title/?$ ./handler/publisher.new.title.php
RewriteRule ^publisher/new/group/?$ ./handler/publisher.new.group.php

# Account stuff
RewriteRule ^account/login/?$ ./handler/account.login.php
RewriteRule ^account/signup/?$ ./handler/account.signup.php
RewriteRule ^account/logout/?$ ./handler/account.logout.php
RewriteRule ^account/?$ ./handler/account.home.php
RewriteRule ^account/([a-z]*)/?$ ./handler/account.home.php?tab=$1

RewriteRule ^error/?$ ./handler/error.php

ErrorDocument 404 /handler/error.php
ErrorDocument 403 /handler/error.php